@import "./variables";

.timer {
  background: $primary-light-color;

  display: flex;
  justify-content: space-around;

  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .time-display {
    display: flex;

    input {
      align-self: center;
      width: 90px;
      background: none;
      font-size: 2.3rem;

        &:nth-child(1) {
          text-align: right;
        }

        // hide border when selected
        &:focus {
          outline: none;
        }

        // hide side arrows
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button {
          -webkit-appearance: none; 
          margin: 0; 
        }
    }
  }

  p {
    font-weight: 700;
    font-size: 1.25rem;
  }

  .time-display {
    font-weight: normal;
    font-size: 2.3rem;
  }

  img {
    width: 60px;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      background: $primary-color;
    }
  }
}