@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$background-color: #26373D;
$background-light-color: #334449;
$background-dark-color: #1D2629;
$primary-color: #26967E;
$primary-light-color: #39A68F;
$secondary-color: #BE3144;
$secondary-light-color: #D6495D;
$gray-color: #C4C4C4;
$main-font: 'Montserrat', sans-serif;